/* The CSS properties we use for flex container are: 
1   flex-direction (row,column,row-reverse,column-reverse)

2   flex-wrap (wrap, nowrap, wrap-reverse)

3   flex-flow (shorthand property for setting both the flex-direction and flex-wrap properties.)

4   flex-shrink()

5   flex-basis()

6   justify-content(center, flex-start, flex-end, space-around, space-between, space-evenly) and it works on the x-axis ie,width)

7   align-items (center, flex-start, flex-end, stretch, baseline, normal) works on the y-axis, ie height)used to align the flex items

8   align-content(center, stretch, flex-start, flex-end, space-around, space-between, space-evenly)used to align the flex lines

*/

/* The CSS properties we use for flex items are: 
1   order

2   flex-glow

3   flex-shrink

4   flex-basis

5   flex

6   align-self
*/

*{
    /* overflow: hidden; */
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    overflow-x: hidden;
}

.nav-bar{
    display: flex;
    box-shadow: 0px 0px 20px 1px rgb(234, 233, 233);
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 0 5%;
    background-color: white;
    justify-content: space-around;
    z-index: 99;
    /* overflow-x: hidden; */
}

.list-links{
display: flex;
gap: 3rem;
font-size: 15px;
font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
font-weight: bold;
align-items:center;
color:rgb(66, 66, 130);
}

.main-section{
    display: flex;
    margin-top:-80px;
    gap: 3rem;
    width: 100%;
    justify-content:space-around;
    background-color: rgba(202, 197, 172, 0.096);
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    z-index: 99;
    padding: 0 10%;

}

.main-section h1{
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-size: 75px;
    color:#091650;
    margin-top: 180px;
    margin-left: 70px;
    font-weight: bolder;
    line-height:70px;
}

.main-section h3{
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.737);
    margin-top: 10px;
    margin-left: 70px;
    line-height: 25px;
    word-spacing: 5px;
}

.right-img{
    height: 500px;
    width: 500px;
    margin-top: 100px;
    margin-right: 400px;
}

.main-section .btn{
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    background-color: #081f89;
    width: 130px;
    color: white;
    border:none;
    border-radius:10px;
    padding: 20px;
    font-weight: bolder;
    margin-left:70px;
    margin-top: 30px;
}

.section1 h2{
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-size: 45px;
    color:#091650;
    margin-left: 230px;
    margin-top: 50px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-template-rows: repeat(1, 350px);
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    column-gap: 20px;
}

.image-1{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/06/college.jpg);
    background-size:cover;
    background-position: center;
    filter: grayscale(100%);
}

.image-2{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/06/prof.jpg);
    background-size:cover;
    filter: grayscale(100%);
}

.image-3{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/06/certificate.jpg);
    background-size:cover;
    filter: grayscale(100%);
}

.maincont{
    display: flex;
    width: 100%;
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 25px;
    
}

.maincont .leftcont{
    width:24%;
}

.maincont .centercont{
    width:24%;
    margin-left: 20px;
}

.maincont .rightcont{
    width:24%;
    margin-left: 20px;
}

.maincont h1{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 23px;
    color: #000e54 !important;
    line-height: 1.4em;
}

.maincont p{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 17px;
    font-weight: 700px;
    color:black !important;
    line-height: 1.5em;
    opacity: 65%;
    margin-top: 20px;
}

.learn-flex{
    display: flex;
    margin-top: -15px;
    width: 100%;
    margin-left: 215px;
    margin-right: 215px;
}

.learn-1{
    width: 25%;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-top: 25px;
    font-weight: bolder;
}

.learn-1 a{
    color: #030927;
    opacity: 86%;
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-color: #030927;
    text-decoration-thickness: 2px;
}

.learn-2{
    width: 25%;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-top: 25px;
    font-weight: bolder;
    margin-left: 6px;
    margin-top: 50px;
}

.learn-2 a{
    color: #030927;
    opacity: 86%;
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-color: #030927;
    text-decoration-thickness: 2px;
}

.learn-3{
    width: 25%;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-top: 25px;
    font-weight: bolder;
    margin-left: 10px;
}

.learn-3 a{
    color: #030927;
    opacity: 86%;
    text-decoration: underline;
    text-underline-offset: 13px;
    text-decoration-color: #030927;
    text-decoration-thickness: 2px;
}

.text-container{
    display: flex;
    gap: 10px;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}

.text-cont1 {
    width: 25%; /* Adjust the width to fit 3 sections */
    color:black;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 150px;
}   

.text-cont2 {
    width: 25%; /* Adjust the width to fit 3 sections */
    color:black;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
}

.text-cont3 {
    width: 25%; /* Adjust the width to fit 3 sections */
    color:black;
    font-size: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40px;
}

.spann{
    font-size: 18px;
    font-weight: bold;
    opacity: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.spann2{
    font-size: 17px;
    font-weight: bold;
    opacity: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hr{
    width: 320px;
    height: 1px;
    background-color: rgb(110, 110, 217);
    margin-top: 4px;
}

.top-courses{
    font-size: 50px;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    margin-left: 265px;
    margin-top: -60px;
}

.take{

    margin-left: 270px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    opacity:60%;
}

.view{
    margin-left: 270px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    color: #00208A !important;
    letter-spacing: -0.01em;
    font-size: 14px;
    font-weight: 600 !important;
    text-decoration: underline !important;
}

.grid-img-cont{
    display: grid;
    justify-content: center;
    padding-top: 40px;
    width: 100%;
    height: 2100px;
    grid-template-columns: repeat(2, 550px);
    grid-template-rows: repeat(2, 900px);
    gap: 4rem;
    padding-top: 40px;
    /* border: 3px solid red; */
}

.grid-1{
    background-color: lightblue;
    box-shadow: 1px 30px 100px 6px rgba(182, 245, 182, 0.769);
    border-radius: 30px;
    margin-top: 20px;
}

.img-1{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/01/software-engineering-630x330-1.webp);
    height: 300px;
    width: 450px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 50px;
    }

.grid-1 h1{
    margin-left:50px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 31px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.02em;
    line-height: 1.4em;
    opacity: 80%;
}

.text-common{
font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;;
margin-left: 50px;
margin-right: 50px;
font-weight: bold;
line-height: 30px;
font-size: 16px;
font-weight: 500;
letter-spacing: -0.01em;
line-height: 1.8em;
}

.link-btn1{
font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
color: rgb(5, 5, 159);
margin-left: 50px;
border: 0px;
background-color:rgba(173, 216, 230, 0);
letter-spacing: -0.01em;
font-size: 14px;
font-weight: 600 !important;
text-decoration: underline !important;
}


.grid-2{
    background-color: rgba(255, 255, 0, 0.194);
    border-radius: 30px;
    box-shadow: 1px 30px 100px 6px pink;
    margin-bottom: 130px;
    margin-top: -150px;
    
}

.img-2{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/01/DATA-SQI.jpg);
    height: 300px;
    width: 450px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 50px;
    }

.grid-2 h1{
    margin-left:50px;
    margin-top: 30px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 31px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.02em;
    line-height: 1.4em;
    opacity: 80%;
}

    .link-btn2{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    color: rgb(5, 5, 159);
    margin-left: 50px;
    border: 0px;
    background-color:rgba(255, 255, 0, 0);
    letter-spacing: -0.01em;
    font-size: 14px;
    font-weight: 600 !important;
    text-decoration: underline !important;
}

.grid-3{
    background-color:rgba(156, 125, 86, 0.432);
    border-radius: 30px;
    box-shadow: 1px 30px 100px 6px rgba(182, 245, 182, 0.769);
}

.img-3{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/product.jpg);
    height: 300px;
    width: 450px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 50px;
    }

.grid-3 h1{
    margin-left:50px;
    margin-top: 30px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 31px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.02em;
    line-height: 1.4em;
    opacity: 80%;
}

.link-btn3{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    color: rgb(5, 5, 159);
    margin-left: 50px;
    border: 0px;
    background-color:rgba(173, 216, 230, 0);
    letter-spacing: -0.01em;
    font-size: 14px;
    font-weight: 600 !important;
    text-decoration: underline !important;
    }


.grid-4{
    background-color:rgba(183, 129, 183, 0.662);
    border-radius: 30px;
    box-shadow: 1px 30px 100px 6px pink;
    margin-top: -150px;
    margin-bottom: 80px;
}

.img-4{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/digital-literacy.jpg);
    height: 300px;
    width: 450px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 50px;
    }

.grid-4 h1{
    margin-left:50px;
    margin-top: 30px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 31px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.02em;
    line-height: 1.4em;
    opacity: 80%;
}

.link-btn4{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    color: rgb(5, 5, 159);
    margin-left: 50px;
    border: 0px;
    background-color:rgba(173, 216, 230, 0);
    letter-spacing: -0.01em;
    font-size: 14px;
    font-weight: 600 !important;
    text-decoration: underline !important;
    }
    
.alumni{
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    font-size: 27px;
    margin-left: 250px;
    margin-bottom: 45px;
    line-height: 1.2em;
    font-weight: 600;
    opacity: 85%;
    }

 .img-container{
    margin-left: 300px;
    margin-right: 250px;
    justify-content: center;
}
     
.img-align{
    display: flex;
    justify-content: space-between;
}

/* .laptop-text-container{
    display: flex;
} */
     
.laptop{ 
    display: flex;
    justify-content: space-around;
    background-image: url(./Assets/laptop-background.jpg);
    width:100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.iframe-edit{
    position: relative;
    top: 90px;
    left: 155px;
    width: 30%;
    /* border-radius: 300px; */
    clip-path: inset(0% 0% 0% 0% round var(--border-radius));

}

.tour{
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF !important;
  line-height: 1.2em;
  font-weight: 700;
  margin-right: 550px;
  margin-top: 80px;
  width: 50%;
}

.para{
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 1.8em;
}

.apply-btn{
  background-color: #00208A;
  color: #FFFFFF !important;
  border-width: 0px !important;
  border-color: #FFFFFF;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600 !important;
  margin-top: 30px;
  padding-top: 20px !important;
  padding-right: 30px !important;
  padding-bottom: 20px !important;
  padding-left: 30px !important;
  
}

.testimony-text-container{
margin-left: 280px;
}

.testimonial{
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2em;
  color: #333;
  padding-bottom: 10px;
}

.read-link{
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.6em;
  cursor: pointer;
  opacity: 75%;
}









/* 
.flex-container{
    display: flex;
    gap: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}
        
.flex-container > div 
{
    width: 20%;
    height: 200px;
}

.logo1{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/google.png);
    background-repeat: no-repeat;
    
}

.logo2{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/Interswitch.png);
    background-repeat: no-repeat;
    image
}


.logo3{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/Andela-log-landscape-blue-400px.png);
    background-repeat: no-repeat;
}

.logo4{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/Microsoft_logo.png);
    background-repeat: no-repeat;
}

.logo5{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/Paystack.png);
    background-repeat: no-repeat;
}

.logo6{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/brewery.png);
    background-repeat: no-repeat;
}

.logo7{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/Wema-Bank-Logo.png);
    background-repeat: no-repeat;
}

.logo8{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/clan-logo.png);
    background-repeat: no-repeat;

}

.logo9{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/edozzier.png);
    background-repeat: no-repeat;
}

.logo10{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/moneymie.png);
    background-repeat: no-repeat;
}

.logo11{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/Nigerian_Army.png);
    background-repeat: no-repeat;
}

.logo12{
    background-image: url(https://edu.sqi.ng/wp-content/uploads/2023/03/aella-credit.png);
    background-repeat: no-repeat;
} */


